
/* Propiedades de reseteo. Primero coloqué el * que significa "selector universal"*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
    font-family: 'Raleway', sans-serif
}

.colorbgAntiqwhite{
    background-color: antiquewhite;
}
.navbar-dark .navbar-nav .nav-link.colorbgAntiqwhite{
    background-color: antiquewhite;
}
.navbar-dark .navbar-nav .nav-link.colorAntiqwhite{
    color: antiquewhite;
}

.colorwhite{
    background-color: white;
}
.navbar-dark .navbar-nav .nav-link.colorletraBlanca{
    color: white;
}
.navbar-dark .navbar-nav .nav-link.colorNegro{
    color: black;
}

.colorNegro{
    background-color: rgb(0, 0, 0);
}
.letterNegra{
    color: black;
    background-color: antiquewhite;
}
.letterBlanca{
    color: rgb(255, 255, 255);
}
.bg-GrisOscuro{
    background-color: rgba(110, 110, 110, 0.485);
}
.bg-RojoOscuro{
    background-color: rgba(87, 10, 10, 0.493);
}
.iconoRedes {
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    /*margin-right: 1rem;*/
    font-size: 1rem;
    text-decoration: none;
    white-space: nowrap;
  }
  .parrafoRedes{
    font-size: 1.2rem;
    font-weight: 600;
  }
  .parrafoMapa{
    font-size: 1rem;
    font-weight: 500;

  }
/* .paddingsection{
    padding-right: var(--bs-gutter-x,0);
}*/
section .d-flex .flex-column.paddingsection .justify-content-center .aling-items-center .overflow-hidden{
    padding-right: var(--bs-gutter-x,0);
}


/*Div que contiene una clase "fotoIndex"*/

.fotoIndex{
        background-color: rgb(255, 255, 255);
        display: flex;
        justify-content: center;
        object-fit: cover;
        border-bottom: 1px solid black;
        padding-bottom: 20px;

}


.Discografía{
    background-color: rgb(0, 0, 0);
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: oblique;
    font-size: 1.8rem;
    color: white;
    border-bottom: 1px solid rgba(255, 255, 255, 0.612);
    padding-bottom: 10px;

}
.imgAlbumImpar{
    order: 1;
    padding-left: 10%
}

.portada1{
    border: 0.5px solid white;
    border-radius: 20px;
}
.imgAlbumPar{
    order:2;
    padding-right: 15%;
}
.parrafoAlbumPar{
    order: 1;
    padding-left: 15%
    ;
   /**/
}
.parrafoAlbumImpar{
    padding-right: 15%;
    ;
    order:2;
    
}
.metmargin{
    margin-top: 3rem;
    margin-bottom:3rem;
}
.paddingmet{
    padding-right: 2rem;
}


.ParHT{
    background-color: rgb(255, 255, 255);
    width: 100%;
    color: black;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 1.1rem;
    font-style: italic;
}

.parMet{
    background-color: rgb(255, 255, 255);
    width: 100%;
    color: black;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 1.1rem;
    font-style: italic;

}

.ParMID{
    background-color: white;
    width: 100%;
    color: black;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 1.1rem;
    font-style: italic;
}

.parATS{
    background-color: white;
    width: 100%;
    color: black;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 1.1rem;
    font-style: italic;
}

.ParLiv{
    background-color: white;
    width: 100%;
    color: black;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 1.1rem;
    font-style: italic;
}

.parTHP{
    background-color: white;
    width: 100%;
    color: black;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 1.1rem;
    font-style: italic;
}

.ParOML{
    background-color: white;
    width: 100%;
    color: black;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 1.1rem;
    font-style: italic;
}
.notif{
    padding-left: 2.5rem;
}
.col-1med{
    width:12.5%
}
.input1{
    padding: 0.2rem;
}
.tamanioImgFoot{
    max-width: 50%;
    height: auto;
    
}
.navbar-brand.letterBlanca{
    color: white;
}
.ms-6{
    margin-left: 3.5rem;
}


 /*EDICION PAGINA MIEMBROS*/

 .img-card{
    object-fit: cover;
 }
 /*Edicion pagina HISTORIA*/







@media screen and (max-width: 767px){
    /*EDICION DE PAGINA INICIO*/
    .imgAlbumImpar{
        padding-right: 3rem;
    }
    .imgAlbumPar{
        order: 1;
        padding-left: 2rem;
    }
    .parrafoAlbumPar{
        order:2;
        padding-left: 3rem;
        padding-right: 3rem;
        padding-top: 0;
        padding-bottom: 1.5rem;
    }
    .parrafoAlbumImpar{
        padding-left: 3rem;
        padding-right: 3rem;
        padding-top: 0;
        padding-bottom: 1.5rem;
    }
    .ParHT{
        width: 100%;
    }
    .parMet{
        width: 100%;
    }
    .ParMID{
        width: 100%;
    }
    .parATS{
        width: 100%;
    }
    .ParLiv{
        width: 100%;
    }
    .parTHP{
        width: 100%;
    }
    .ParOML{
        width: 100%;
    }
    .input1{
        padding:0.2rem;
        justify-content:start ;
    }
    /*EDICION DE PAGINA MIEMBROS*/
    .card-sm{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .card-sm-mb{
        margin-bottom: 2rem;
    }
    /*EDICION DE PAGINA "HISTORIA"*/
    .divHistoria{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 2rem;
    }
    /*EDICION DE PAGINA "TIENDA"*/
    .divTienda{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .parrafoTienda{
        display: flex;
        text-align: center;
        margin-bottom: 0;

    }
    /*EDICION DE PAGINA "CONTACTO"*/
    .parrafoContacto{
        margin-bottom: 0;
    }
}
@media screen and (min-width: 767px) and (max-width: 860px){
    .notif{
        padding-left: 2.5rem;
    }
}

/*EDICION PÁGONA "CONTACTO"*/

/*.parrafoContacto{
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
}
.parrafoContacto h2{
    padding-left:5%;
    padding-bottom: 5px;
    padding-top: 10px;
}
.parrafoContacto p{
    padding-left: 40px;
    padding-right: 20px;
    text-align: justify;
    margin-bottom: 20px;
}
.form{
    display: block;
    padding:5% 42% ;
}