
/* Propiedades de reseteo. Primero coloqué el * que significa "selector universal"*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
    font-family: 'Raleway', sans-serif
}

.colorbgAntiqwhite{
    background-color: antiquewhite;
}
.navbar-dark .navbar-nav .nav-link.colorbgAntiqwhite{
    background-color: antiquewhite;
}
.navbar-dark .navbar-nav .nav-link.colorAntiqwhite{
    color: antiquewhite;
}

.colorwhite{
    background-color: white;
}
.navbar-dark .navbar-nav .nav-link.colorletraBlanca{
    color: white;
}
.navbar-dark .navbar-nav .nav-link.colorNegro{
    color: black;
}

.colorNegro{
    background-color: black;
}
.letterNegra{
    color: black;
    background-color: antiquewhite;
}
.iconoRedes {
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    /*margin-right: 1rem;*/
    font-size: 1rem;
    text-decoration: none;
    white-space: nowrap;
  }
  .parrafoRedes{
    font-size: 1.2rem;
    font-weight: 600;
  }
  .parrafoMapa{
    font-size: 1rem;
    font-weight: 500;

  }
/* .paddingsection{
    padding-right: var(--bs-gutter-x,0);
}*/
section .d-flex .flex-column.paddingsection .justify-content-center .aling-items-center .overflow-hidden{
    padding-right: var(--bs-gutter-x,0);
}


/*Div que contiene una clase "fotoIndex"*/

.fotoIndex{
        background-color: rgb(255, 255, 255);
        display: flex;
        justify-content: center;
        object-fit: cover;
        border-bottom: 1px solid black;
        padding-bottom: 20px;

}


.Discografía{
    background-color: rgb(0, 0, 0);
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: oblique;
    font-size: 1.8rem;
    color: white;
    border-bottom: 1px solid rgba(255, 255, 255, 0.612);
    padding-bottom: 10px;

}
.imgAlbumImpar{
    order: 1;
    padding-left: 10%
}

.portada1{
    border: 0.5px solid white;
    border-radius: 20px;
}
.imgAlbumPar{
    order:2;
    padding-right: 15%;
}
.parrafoAlbumPar{
    order: 1;
    padding-left: 15%
    ;
   /**/
}
.parrafoAlbumImpar{
    padding-right: 15%;
    ;
    order:2;
    
}
.metmargin{
    margin: 7% 0%;
}
.paddingmet{
    padding-right: 7%;
}


.ParHT{
    background-color: rgb(255, 255, 255);
    width: 100%;
    color: black;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 1.1rem;
    font-style: italic;
}

.parMet{
    background-color: rgb(255, 255, 255);
    width: 100%;
    color: black;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 1.1rem;
    font-style: italic;

}

.ParMID{
    background-color: white;
    width: 100%;
    color: black;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 1.1rem;
    font-style: italic;
}

.parATS{
    background-color: white;
    width: 100%;
    color: black;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 1.1rem;
    font-style: italic;
}

.ParLiv{
    background-color: white;
    width: 100%;
    color: black;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 1.1rem;
    font-style: italic;
}

.parTHP{
    background-color: white;
    width: 100%;
    color: black;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 1.1rem;
    font-style: italic;
}

.ParOML{
    background-color: white;
    width: 100%;
    color: black;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 1.1rem;
    font-style: italic;
}
.notif{
    padding-left: 2.5rem;
}
.col-1med{
    width:12.5%
}
.input1{
    padding: 0.2rem;
}
.tamanioImgFoot{
    max-width: 50%;
    height: auto;
    
}
.navbar-brand.letterBlanca{
    color: white;
}
.ms-6{
    margin-left: 3.5rem;
}


 /*EDICION PAGINA MIEMBROS*/

 .img-card{
    object-fit: cover;
 }
@media screen and (max-width: 767px){
    .imgAlbumPar{
        order: 1;
    }
    .parrafoAlbumPar{
        order:2;
        /*padding-left:1.5rem ;*/
        display: flex;
        flex-direction: column;
        align-items: center;        
        padding-left: 1rem;
        padding-right:3rem;
    }
    .parrafoAlbumImpar{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-right: 3rem;
    }
    .ParHT{
        width: 100%;
    }
    .parMet{
        width: 100%;
    }
    .ParMID{
        width: 100%;
    }
    .parATS{
        width: 100%;
    }
    .ParLiv{
        width: 100%;
    }
    .parTHP{
        width: 100%;
    }
    .ParOML{
        width: 100%;
    }
    .input1{
        padding:0.2rem;
        justify-content:start ;
    }
}
@media screen and (min-width: 767px) and (max-width: 860px){
    .notif{
        padding-left: 2.5rem;
    }
}
/*EDICION DE PAGINA "HISTORIA"*/

/*Dice seccion formacion pero aplica para toda la pagina*/
.seccionFormacion{
    background-color: rgb(48, 48, 48);
    display: flex;
    flex-direction: column;
}
.ContenedorH2{
    background-color: rgb(48, 48, 48);
    border-top: 1px solid black;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 500;
    font-size: 1.1rem;
    text-decoration: underline;
    text-transform: uppercase;
    padding-left: 20%;
    padding-top: 20px;
    margin-bottom: 20px;
    color: white;
}
.contenedorImg{
    background-color: rgb(48, 48, 48);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Gelasio', serif;
    font-style: oblique;
    font-weight: 400;
}
.contenedorImg p{
    width: 50%;
    text-align: justify;
    background-color: rgb(48, 48, 48);
    margin-right: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.5;
    padding-top: 5px;
    color: white;

}
.contenedorImg img{
    margin-left: 220px;
     
}
.parrafoLow{
    background-color:rgb(48, 48, 48);
    width: 73%;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.5;
    margin-left: 16%;
    margin-top: 10px;
    padding-bottom: 35px;
    color: white;
    font-family: 'Gelasio', serif;
    font-style: oblique;
    font-weight: 400;

}

.seccionHybrid{
    background-color: rgb(107, 33, 33);
    display: flex;
    flex-direction: column;
}
.ContenedorHybrid{
    background-color: rgb(107, 33, 33);
    border-top: 1px solid rgb(0, 0, 0);
    font-family: 'Cormorant Garamond', serif;
    color: white;
    font-weight: 500;
    font-size: 1.1rem;
    text-decoration: underline;
    text-transform: uppercase;
    padding-left:12.5%;
    padding-top: 20px;
    margin-bottom: 20px;
}


.contenedorImg2{
    background-color: rgb(107, 33, 33);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Gelasio', serif;
    font-style: oblique;
    font-weight: 400;
}
.contenedorImg2 p{
    width: 50%;
    text-align: justify;
    background-color: rgb(107, 33, 33);
    margin-right: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.5;
    padding-top: 5px;
    color: white;

}
.contenedorImg2 img{
    margin-left: 220px;
}

.parrafoLow2{
    background-color:  rgb(107, 33, 33);
    width: 73%;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.5;
    margin-left: 16%;
    margin-top: 5px;
    padding-bottom: 35px;
    color: white;
    font-family: 'Gelasio', serif;
    font-style: oblique;
    font-weight: 400;

}

.seccionMeteora{
    background-color: rgb(48, 48, 48);
    display: flex;
    flex-direction: column;
}
.ContenedorMeteora{
    background-color: rgb(48, 48, 48);
    border-top: 1px solid black;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 500;
    font-size: 1.1rem;
    text-decoration: underline;
    text-transform: uppercase;
    padding-left: 15.5%;
    padding-top: 20px;
    margin-bottom: 20px;
    color: white;
}

.contenedorImg3{
    background-color:rgb(48, 48, 48);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 40px;
    font-family: 'Gelasio', serif;
    font-style: oblique;
    font-weight: 400;
}
.contenedorImg3 p{
    width: 50%;
    text-align: justify;
    background-color: rgb(48, 48, 48);
    margin-right: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.3;
    margin-bottom: 10px;
    color: white;

}
.contenedorImg3 img{
    margin-left: 220px;
     
}



.seccionMinutes{
    background-color: rgb(107, 33, 33);
    display: flex;
    flex-direction: column;
}
.contenedorMinutes{
    background-color: rgb(107, 33, 33);
    border-top: 1px solid rgb(0, 0, 0);
    font-family: 'Cormorant Garamond', serif;
    color: white;
    font-weight: 500;
    font-size: 1.1rem;
    text-decoration: underline;
    text-transform: uppercase;
    padding-left:12.5%;
    padding-top: 20px;
    margin-bottom: 20px;
}


.contenedorImg4{
    background-color:rgb(107, 33, 33);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Gelasio', serif;
    font-style: oblique;
    font-weight: 400;
}
.contenedorImg4 p{
    width: 50%;
    text-align: justify;
    background-color: rgb(107, 33, 33);
    margin-right: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.5;
    padding-top: 5px;
    color: white;

}
.contenedorImg4 img{
    margin-left: 220px;
}

.parrafoLow4{
    background-color:  rgb(107, 33, 33);
    width: 73%;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.5;
    margin-left: 16%;
    margin-top: 10px;
    padding-bottom: 35px;
    color: white;
    font-family: 'Gelasio', serif;
    font-style: oblique;
    font-weight: 400;
}




.seccionATS{
    background-color: rgb(48, 48, 48);
    display: flex;
    flex-direction: column;
}
.ContenedorATS{
    background-color: rgb(48, 48, 48);
    border-top: 1px solid black;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 500;
    font-size: 1.1rem;
    text-decoration: underline;
    text-transform: uppercase;
    padding-left: 14%;
    padding-top: 20px;
    margin-bottom: 20px;
    color: white;
}
.contenedorImg5{
    background-color: rgb(48, 48, 48);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 40px;
    font-family: 'Gelasio', serif;
    font-style: oblique;
    font-weight: 400;
}
.contenedorImg5 p{
    width: 50%;
    text-align: justify;
    background-color: rgb(48, 48, 48);
    margin-right: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.5;
    padding-top: 5px;
    color: white;

}
.contenedorImg5 img{
    margin-left: 220px;
     
}
.parrafoLow5{
    background-color:rgb(48, 48, 48);
    width: 73%;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.5;
    margin-left: 16%;
    margin-top: 5px;
    padding-bottom: 30px;
    color: white;
    font-family: 'Gelasio', serif;
    font-style: oblique;
    font-weight: 400;

}

.seccionLT{
    background-color: rgb(107, 33, 33);
    display: flex;
    flex-direction: column;
}
.contenedorLT{
    background-color: rgb(107, 33, 33);
    /*border-top: 1px solid rgb(0, 0, 0);*/
    font-family: 'Cormorant Garamond', serif;
    color: white;
    font-weight: 500;
    font-size: 1.1rem;
    text-decoration: underline;
    text-transform: uppercase;
    padding-left:13%;
    padding-top: 20px;
    margin-bottom: 20px;
}


.contenedorImg6{
    background-color:rgb(107, 33, 33);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 40px;
    font-family: 'Gelasio', serif;
    font-style: oblique;
    font-weight: 400;
}
.contenedorImg6 p{
    width: 50%;
    text-align: justify;
    background-color: rgb(107, 33, 33);
    margin-right: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.5;
    padding-top: 5px;
    color: white;

}
.contenedorImg6 img{
    margin-left: 220px;
}

.parrafoLow6{
    background-color:  rgb(107, 33, 33);
    width: 73%;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.5;
    margin-left: 16%;
    margin-top: 10px;
    padding-bottom: 35px;
    color: white;
    font-family: 'Gelasio', serif;
    font-style: oblique;
    font-weight: 400;
}

.seccionTHP{
    background-color: rgb(48, 48, 48);
    display: flex;
    flex-direction: column;
}
.ContenedorTHP{
    background-color: rgb(48, 48, 48);
    border-top: 1px solid black;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 500;
    font-size: 1.1rem;
    text-decoration: underline;
    text-transform: uppercase;
    padding-left: 12%;
    padding-top: 20px;
    margin-bottom: 20px;
    color: white;
}
.contenedorImg7{
    background-color: rgb(48, 48, 48);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 40px;
    font-family: 'Gelasio', serif;
    font-style: oblique;
    font-weight: 400;
}
.contenedorImg7 p{
    width: 50%;
    text-align: justify;
    background-color: rgb(48, 48, 48);
    margin-right: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.5;
    padding-top: 5px;
    color: white;

}
.contenedorImg7 img{
    margin-left: 220px;

     
}
.parrafoLow7{
    background-color:rgb(48, 48, 48);
    width: 73%;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.5;
    margin-left: 16%;
    margin-top: 0px;
    padding-bottom: 30px;
    color: white;
    font-family: 'Gelasio', serif;
    font-style: oblique;
    font-weight: 400;

}

.seccionOML{
    background-color: rgb(107, 33, 33);
    display: flex;
    flex-direction: column;
}
.contenedorOML{
    background-color: rgb(107, 33, 33);
    border-top: 1px solid rgb(0, 0, 0);
    font-family: 'Cormorant Garamond', serif;
    color: white;
    font-weight: 500;
    font-size: 1.1rem;
    text-decoration: underline;
    text-transform: uppercase;
    padding-left:14%;
    padding-top: 20px;
    margin-bottom: 20px;
}


.contenedorImg8{
    background-color:rgb(107, 33, 33);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Gelasio', serif;
    font-style: oblique;
    font-weight: 400;
}
.contenedorImg8 p{
    width: 50%;
    text-align: justify;
    background-color: rgb(107, 33, 33);
    margin-right: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.5;
    padding-top: 5px;
    color: white;

}
.contenedorImg8 img{
    margin-left: 220px;
}

.parrafoLow8{
    background-color:  rgb(107, 33, 33);
    width: 73%;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.5;
    margin-left: 16%;
    margin-top: 10px;
    padding-bottom: 35px;
    color: white;
    font-family: 'Gelasio', serif;
    font-style: oblique;
    font-weight: 400;
}

.seccionChester{
    background-color: rgb(48, 48, 48);
    display: flex;
    flex-direction: column;
}
.ContenedorChester{
    background-color: rgb(48, 48, 48);
    border-top: 1px solid black;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 500;
    font-size: 1.1rem;
    text-decoration: underline;
    text-transform: uppercase;
    padding-left: 12%;
    padding-top: 20px;
    margin-bottom: 20px;
    color: white;
}
.contenedorImg9{
    background-color: rgb(48, 48, 48);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 10px;
    font-family: 'Gelasio', serif;
    font-style: oblique;
    font-weight: 400;
}
.contenedorImg9 p{
    width: 50%;
    text-align: justify;
    background-color: rgb(48, 48, 48);
    margin-right: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.2;
    padding-top: 5px;
    color: white;

}
.contenedorImg9 img{
    margin-left: 220px;

     
}
.parrafoLow9{
    background-color:  rgb(48, 48, 48);
    width: 73%;
    display: flex;
    align-items: center;
    line-height: 1.5;
    margin-left: 13.5%;
    margin-top: 0px;
    padding-bottom: 35px;
    padding-left: 10px;
    color: white;
    font-family: 'Gelasio', serif;
    font-style: oblique;
    font-weight: 400;

}

.seccionTributo{
    background-color: rgb(107, 33, 33);
    display: flex;
    flex-direction: column;
}
.contenedorTributo{
    background-color: rgb(107, 33, 33);
    border-top: 1px solid rgb(0, 0, 0);
    font-family: 'Cormorant Garamond', serif;
    color: white;
    font-weight: 500;
    font-size: 1.1rem;
    text-decoration: underline;
    text-transform: uppercase;
    padding-left:12%;
    padding-top: 20px;
    margin-bottom: 20px;
}


.contenedorImg10{
    background-color:rgb(107, 33, 33);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Gelasio', serif;
    font-style: oblique;
    font-weight: 400;
}
.contenedorImg10 p{
    width: 50%;
    text-align: justify;
    background-color: rgb(107, 33, 33);
    margin-right: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.3;
    padding-top: 5px;
    color: white;

}
.contenedorImg10 img{
    margin-left: 220px;
}

.parrafoLow10{
    background-color:  rgb(107, 33, 33);
    width: 73%;
    display: flex;
    align-items: center;
    line-height: 1.5;
    margin-left: 13.5%;
    margin-top: 10px;
    padding-bottom: 35px;
    padding-left: 0;
    color: white;
    font-family: 'Gelasio', serif;
    font-style: oblique;
    font-weight: 400;
}



/*Edicion pagina "canciones"*/


.parrafosCanciones{
    padding: 20px 10px 20px 40px;
    text-align: start;
    font-family: 'Gelasio', serif;
    font-weight: 600;
    
}

.Songs12{
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
}

.Songs12 h2{
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: end;
    height: 15vh;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 500;
    color: white;
}
 .Songs12 .video1{
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    border-right: 1px solid black;
    position: relative;
}
.Songs12 video{
    padding-bottom: 20%;
}

.songs34{
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
}

.songs34 h2{
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: end;
    height: 15vh;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 500;
    color: white;
}

.songs34 .video34{
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
}
.songs34 video{
    padding-bottom: 20%;
}

.songs56{
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    color:white;
}

.songs56 h2{
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: end;
    height: 15vh;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 500;
}

.songs56 .video56{
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
}

.songs56 video{
    padding-bottom: 20%;
}

.songs78{
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    color: white;
}

.songs78 h2{
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: end;
    height: 15vh;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 500;
}

.songs78 .video78{
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
}

.songs78 video{
    padding-bottom: 20%;
}

.songs910{
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    color: white;
}
.songs910 h2{
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: end;
    height: 15vh;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 500;
}
 .songs910 .video1{
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
}
.songs910 video{
    padding-bottom: 20%;
}



/*EDICION PÁGINA "TIENDA"*/

.subtTienda{
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-top: 40px;
}
.subtTienda .parrafoTienda1{
    background-color: rgb(255, 255, 255);
    width: 100%;
    padding-left: 10%;
    text-decoration: underline rgb(112, 0, 0);

}
.subtTienda .parrafoTienda2{
    padding-left: 9%;
    font-size: 1rem;
    margin-top: 30px;
}
.contenedorArt1{
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-around;
    padding-top: 40px;
    padding-bottom: 40px;
}

.contenedorArt1 .remera1{
    border: 1px solid rgb(193, 193, 193);
    border-radius: 15px;
}
.producto12{
    background-color: rgb(254, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.producto12 p{
    background-color: rgb(255, 255, 255);
    margin-top: 10px;
    font-family: 'Gelasio', serif;
    font-weight: 400;
    margin-bottom: 5px;
}
.contenedorArt2{
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-around;
    padding-top: 40px;
    padding-bottom: 40px;
}
.contenedorArt2 .remera1{
    border: 1px solid rgb(193, 193, 193);
    border-radius: 15px;
}
.contenedorArt3{
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-around;
    padding-top: 40px;
    padding-bottom: 40px;
}
.contenedorArt3 .remera1{
    border: 1px solid rgb(193, 193, 193);
    border-radius: 15px;
}

.producto12 input{
    padding: 10%;
    border: 1px solid black;
    border-radius: 20px;
}
.producto12 a :hover{
    background-color: rgb(99, 33, 33);
    color: white;
}

/*EDICION PÁGONA "CONTACTO"*/

.parrafoContacto{
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
}
.parrafoContacto h2{
    padding-left:5%;
    padding-bottom: 5px;
    padding-top: 10px;
}
.parrafoContacto p{
    padding-left: 40px;
    padding-right: 20px;
    text-align: justify;
    margin-bottom: 20px;
}
.form{
    display: block;
    padding:5% 42% ;
}