.navbar-dark .navbar-nav .nav-link.colorbgAntiqwhite{
    background-color: $bg-antiquewhite;
}
.navbar-dark .navbar-nav .nav-link.colorAntiqwhite{
    color: $color-antiquewhite;
}

.navbar-dark .navbar-nav .nav-link.colorletraBlanca{
    color: $color-letra-blanca;
}
.navbar-dark .navbar-nav .nav-link.colorNegro{
    color: $bg-negro;
}