body {
    font-family: $fuente-principal;
}
.colorAntiqwhite {
    color: antiquewhite;
  }
  
  .colorwhite {
    background-color: white;
  }
  .colorNegro {
    background-color: black;
  }
  .letterNegra {
    color: black;
    background-color: antiquewhite;
  }
  .letterBlanca {
    color: white;
  }
  
  .bg-GrisOscuro {
    background-color: rgba(110, 110, 110, 0.485);
  }
  
  .bg-RojoOscuro {
    background-color: rgba(87, 10, 10, 0.493);
  }